*{
  margin: 0px;
  font-family: 'Times New Roman', Times, serif
}

header{
  background-image: url(../img/pattern.png);
  background-size: contain;
  background-color: rgb(49, 190, 255);
}

#logo{
  width: 20%;
  height: 20%;
  padding-top: 25px;
}

.articolo{
  padding-top: 20px;
  padding-bottom: 20px;
}

h3, h4, h5{
  color: grey;
}

.link{
  color:#31BEFF;
}

.evidenzia{
  background-color: yellow;
}

.tabella{
  width: 100%;
}

#colonna-uno, #colonna-due{
  width: 25%;
}

#intestazione{
  color: white;
  background-color: #31BEFF;
  text-align: left;
}

.uno, .tre{
  background-color: aqua;
}

.correlati{
  position: relative;
  text-align: left;
  color: white;  
}

.over {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 20px;
  font-weight: 700;
}